### Importação dos dados

In [9]:
import pandas as pd

url = "./base-de-dados-challenge-1/loja_1.csv"
url2 = "./base-de-dados-challenge-1/loja_2.csv"
url3 = "./base-de-dados-challenge-1/loja_3.csv"
url4 = "./base-de-dados-challenge-1/loja_4.csv"

loja = pd.read_csv(url)
loja2 = pd.read_csv(url2)
loja3 = pd.read_csv(url3)
loja4 = pd.read_csv(url4)

loja.head()

,Produto,Categoria do Produto,Preço,Frete,Data da Compra,Vendedor,Local da compra,Avaliação da compra,Tipo de pagamento,Quantidade de parcelas,lat,lon
0,Assistente virtual,eletronicos,219.08,9.249790,16/01/2021,Pedro Gomes,SP,4,cartao_credito,8,-22.19,-48.79
1,Mesa de jantar,moveis,256.35,11.234305,18/05/2022,Beatriz Moraes,RJ,1,cartao_credito,4,-22.25,-42.66
2,Jogo de tabuleiro,brinquedos,279.51,21.262681,15/03/2021,João Souza,DF,1,cartao_credito,1,-15.83,-47.86
3,Micro-ondas,eletrodomesticos,1009.99,54.667344,03/05/2022,João Souza,RS,4,boleto,1,-30.17,-53.50
4,Cadeira de escritório,moveis,446.99,26.964689,07/11/2020,Larissa Alves,MG,5,boleto,1,-18.10,-44.38

#1. Análise do faturamento

In [6]:
faturamento_loja1 = sum(loja["Preço"])
faturamento_loja2 = sum(loja2["Preço"])
faturamento_loja3 = sum(loja3["Preço"])
faturamento_loja4 = sum(loja4["Preço"])

In [40]:
print(f"O faturamento total da loja 1 é de R$ {faturamento_loja1:.2f}")

O faturamento total da loja 1 é de R$ 1534509.12

In [41]:
print(f"O faturamento total da loja 2 é de R$ {faturamento_loja2:.2f}")

O faturamento total da loja 2 é de R$ 1488459.06

In [42]:
print(f"O faturamento total da loja 3 é de R$ {faturamento_loja3:.2f}")

O faturamento total da loja 3 é de R$ 1464025.03

In [43]:
print(f"O faturamento total da loja 4 é de R$ {faturamento_loja4:.2f}")

O faturamento total da loja 4 é de R$ 1384497.58

# 2. Vendas por Categoria

In [80]:
def vendas_categoria(loja):
    set_categoria = list(set(loja["Categoria do Produto"]))
    lista_categoria = []
    for categoria in set_categoria:
        lista = [item for item in loja["Categoria do Produto"] if item == categoria]
        lista_categoria.append(lista)
    vendas_categoria = {set_categoria[i]: len(lista_categoria[i]) for i in range(len(set_categoria))}
    return vendas_categoria

    

vendas_categoria_loja_1 = vendas_categoria(loja)
vendas_categoria_loja_2 = vendas_categoria(loja2)
vendas_categoria_loja_3 = vendas_categoria(loja3)
vendas_categoria_loja_4 = vendas_categoria(loja4)

In [81]:
print("vendas por categorias loja 1")
print(vendas_categoria_loja_1)

vendas por categorias loja 1
{'livros': 173, 'brinquedos': 324, 'utilidades domesticas': 171, 'moveis': 465, 'eletronicos': 448, 'instrumentos musicais': 182, 'eletrodomesticos': 312, 'esporte e lazer': 284}

In [82]:
print("vendas por categorias loja 2")
print(vendas_categoria_loja_2)

vendas por categorias loja 2
{'livros': 197, 'brinquedos': 313, 'utilidades domesticas': 181, 'moveis': 442, 'eletronicos': 422, 'instrumentos musicais': 224, 'eletrodomesticos': 305, 'esporte e lazer': 275}

In [83]:
print("vendas por categorias loja 3")
print(vendas_categoria_loja_3)

vendas por categorias loja 3
{'livros': 185, 'brinquedos': 315, 'utilidades domesticas': 177, 'moveis': 499, 'eletronicos': 451, 'instrumentos musicais': 177, 'eletrodomesticos': 278, 'esporte e lazer': 277}

In [84]:
print("vendas por categorias loja 4")
print(vendas_categoria_loja_4)

vendas por categorias loja 4
{'livros': 187, 'brinquedos': 338, 'utilidades domesticas': 201, 'moveis': 480, 'eletronicos': 451, 'instrumentos musicais': 170, 'eletrodomesticos': 254, 'esporte e lazer': 277}

# 3. Média de Avaliação das Lojas

In [55]:
avaliacao_media_loja1 = sum(loja["Avaliação da compra"]) / len(
    loja["Avaliação da compra"]
)
avaliacao_media_loja2 = sum(loja2["Avaliação da compra"]) / len(
    loja2["Avaliação da compra"]
)
avaliacao_media_loja3 = sum(loja3["Avaliação da compra"]) / len(
    loja3["Avaliação da compra"]
)
avaliacao_media_loja4 = sum(loja4["Avaliação da compra"]) / len(
    loja4["Avaliação da compra"]
)

In [45]:
print(f"Avaliação média das loja 1: {avaliacao_media_loja1:.2f}")

Avaliação média das loja 1: 3.98

In [47]:
print(f"Avaliação média das loja 2: {avaliacao_media_loja2:.2f}")

Avaliação média das loja 2: 4.04

In [38]:
print(f"Avaliação média das loja 3: {avaliacao_media_loja3:.2f}")

Avaliação média das loja 3: 4.05

In [39]:
print(f"Avaliação média das loja 4: {avaliacao_media_loja4:.2f}")

Avaliação média das loja 4: 4.00

# 4. Produtos Mais e Menos Vendidos

In [96]:
def produtos_mais_e_menos_vendidos(loja):
    set_produtos = list(set(loja["Produto"]))
    lista_produto = []
    for produto in set_produtos:
        lista = [item for item in loja["Produto"] if item == produto]
        lista_produto.append(lista)
    dict_produtos = {set_produtos[i]: len(lista_produto[i]) for i in range(len(set_produtos))}
    mais_vendidos = max(dict_produtos, key=dict_produtos.get)
    menos_vendidos = min(dict_produtos, key=dict_produtos.get)
    return mais_vendidos, dict_produtos[mais_vendidos], menos_vendidos, dict_produtos[menos_vendidos]

In [101]:
produto_mais_l1, qtd_mais_l1, produto_menos_l1, qtd_menos_l1 = produtos_mais_e_menos_vendidos(loja)

print(f"""O produto mais vendido da loja 1 é {produto_mais_l1} com {qtd_mais_l1} vendas.
    E o menos vendido é o {produto_menos_l1} com {qtd_menos_l1} vendas
      """)

O produto mais vendido da loja 1 é Micro-ondas com 60 vendas.
    E o menos vendido é o Headset com 33 vendas

In [102]:
produto_mais_l2, qtd_mais_l2, produto_menos_l2, qtd_menos_l2 = (
    produtos_mais_e_menos_vendidos(loja2)
)

print(f"""O produto mais vendido da loja 1 é {produto_mais_l2} com {qtd_mais_l2} vendas.
      E o menos vendido é o {produto_menos_l2} com {qtd_menos_l2} vendas
      """)

O produto mais vendido da loja 1 é Iniciando em programação com 65 vendas.
      E o menos vendido é o Jogo de tabuleiro com 32 vendas

In [103]:
produto_mais_l3, qtd_mais_l3, produto_menos_l3, qtd_menos_l3 = (
    produtos_mais_e_menos_vendidos(loja3)
)

print(f"""O produto mais vendido da loja 3 é {produto_mais_l3} com {qtd_mais_l3} vendas.
        E o menos vendido é o {produto_menos_l3} com {qtd_menos_l3} vendas
      """)

O produto mais vendido da loja 3 é Kit banquetas com 57 vendas.
        E o menos vendido é o Blocos de montar com 35 vendas

In [104]:
produto_mais_l4, qtd_mais_l4, produto_menos_l4, qtd_menos_l4 = (
    produtos_mais_e_menos_vendidos(loja4)
)

print(f"""O produto mais vendido da loja 4 é {produto_mais_l4} com {qtd_mais_l4} vendas.
        E o menos vendido é o {produto_menos_l4} com {qtd_menos_l4} vendas
      """)

O produto mais vendido da loja 4 é Cama box com 62 vendas.
        E o menos vendido é o Guitarra com 33 vendas

# 5. Frete Médio por Loja

In [69]:
frete_medio_loja1 = sum(loja["Frete"]) / len(loja["Frete"])
frete_medio_loja2 = sum(loja2["Frete"]) / len(loja2["Frete"])
frete_medio_loja3 = sum(loja3["Frete"]) / len(loja3["Frete"])
frete_medio_loja4 = sum(loja4["Frete"]) / len(loja4["Frete"])

In [70]:
print(f"O frete médio da loja 1 é de {frete_medio_loja1:.2f}")

O frete médio da loja 1 é de 34.69

In [71]:
print(f"O frete médio da loja 2 é de {frete_medio_loja2:.2f}")

O frete médio da loja 2 é de 33.62

In [72]:
print(f"O frete médio da loja 3 é de {frete_medio_loja3:.2f}")

O frete médio da loja 3 é de 33.07

In [73]:
print(f"O frete médio da loja 4 é de {frete_medio_loja4:.2f}")

O frete médio da loja 4 é de 31.28